li{
    list-style-type: none;
    margin-top: 25px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: tomato;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.3s;
}
.menu-items{
     background-color: #001120;
     position: fixed;
     right: 0;
     top: 0;
     height: 65vh;
     width: 50%;
     border-bottom-left-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     z-index: 1;
}
.menu-switch{
    color: orangered;
    font-size: 35px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.active{
    color: cyan !important; 
    border: 2px solid cyan;
    padding: 10px;
    border-radius: 5px;
}
.active:hover{
    padding-left: 10px !important;
}